@use 'normalize';
// Variables
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
// $color: #210e6b;
$color-headings: #1b0760;
$color-body: #918ca4;
$headings: 3;

// Mixins
@mixin size($height: 100vh, $width: $height) {
    height: $height;
    width: $width;
}
//  Typhography
html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: $color-body;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

@for $i from 1 through $headings {
    h#{$i} {
        color: $color-headings;
        margin-bottom: 1rem;
    }
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}
//  Links
a {
    text-decoration: none;
}
.link--arrow {
    color: $color-accent;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    &::after {
        content: '-->';
        margin-left: 5px;
        transition: margin-left 0.15s;
    }
    &:hover::after {
        margin-left: 10px;
    }
}
@media screen and (min-width: 1024px) {
    .link--arrow {
        font-size: 1.5rem;
    }
}

// Badges

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    &--primary {
        background-color: $color-primary;
        color: #fff;
    }
    &--secondary {
        background-color: $color-secondary;
        color: #fff;
    }
    &--small {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
        &--small {
            font-size: 1.2rem;
        }
    }
}

// Buttons
.btn {
    text-align: center;
    // padding: 2.5rem 16rem;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    outline: none;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 1rem 0;
    &--outline {
        background-color: #fff;
        color: $color-headings;
        border: 2px solid $color-headings;
    }
    &--outline:hover {
        background-color: $color-headings;
        color: #fff;
    }
    &--primary {
        background-color: $color-primary;
        color: #fff;
    }
    &--primary:hover {
        background-color: darken($color-primary, 10%);
    }

    &--secondary {
        background-color: $color-secondary;
        color: #fff;
    }
    &--secondary:hover {
        background-color: darken($color-secondary, 10%);
    }
    &--accent {
        background-color: $color-accent;
        color: #fff;
        margin: 0;
    }
    &--accent:hover {
        background-color: darken($color-accent, 10%);
    }
    &--block {
        display: inline-block;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

// Lists
.list {
    // font-size: bold;
    color: $color-headings;
    list-style: none;
    padding-left: 0;
    &--inline .list__item {
        display: inline-block;
        margin-right: 2rem;
    }
    &--tick {
        list-style-image: url('../icons/tick.svg');
        margin-left: 3rem;
    }
    &--tick .list__item {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

// Icons
.icon {
    @include size(40px);
    &--primary {
        fill: $color-primary;
    }
    &-container {
        @include size(64px);
        align-items: center;
        background: #f3f9fa;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
    }
}

// Navbar
.navbar {
    background-color: #000;
}

.navbar__list {
    color: white;
    display: flex;
    flex-direction: column;
}

.navbar__link {
    text-decoration: none;
}

.logo {
    display: inline;
}

// Responsiveness
// @media screen and (min-width: 640px) {
// }
// @media screen and (min-width: 768px) {
// }
// @media screen and (min-width: 1280px) {
// }
// @media screen and (min-width: 1536px) {
// }
