@use 'normalize';
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
// $color: #210e6b;
$color-headings: #1b0760;
$color-body: #918ca4;
$headings: 3;
@use 'mixins';

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: $color-body;
    font-size: 2.4rem;
    line-height: 1.5;
}

@for $i from 1 through $headings {
    h#{$i} {
        color: $color-headings;
        margin-bottom: 1rem;
    }
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}
.btn {
    outline: none;
    border-radius: 25%;
    border: 0;
}

.navbar {
    background-color: #000;
}

.navbar__list {
    list-style: none;
    flex-direction: column;
    display: flex;
    color: white;
}

.navbar__link {
    text-decoration: none;
}

.logo {
    display: inline;
}

// Responsiveness
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
