<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="hero__heading block__heading">Cloud Hosting for Pros</h1>
            <p class="hero__tagline">
                Deploy your website in less than 60 seconds
            </p>
            <a class="btn btn--accent btn--stretched">GET STARTED</a>
        </header>
        <img src="images/banner.png" alt="" class="hero__img" />
    </div>
</section>
