<svg class="icon">
    <use xlink:href="sprite.svg#computer"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#easy"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#growth"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#line"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#menu"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#quotes"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#search"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#settings"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#tick"></use>
</svg>
<svg class="icon icon--primary">
    <use xlink:href="sprite.svg#wordpress"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#chevron"></use>
</svg>
<svg class="icon">
    <use xlink:href="sprite.svg#clock"></use>
</svg>
<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="sprite.svg#snap"></use>
        <!-- Main -->
    </svg>
</span>
